Body{
	
	background: #84C0EF;
	margin-left: 200px;
	margin-right: 200px;
}

header{
	margin-top: 50px;
}


h1{
	color: red;
	font-family: fantasy;
}

h2{
	font-family: fantasy;
}

p{
	font-size: 18px;
}

/*mg{
	margin-bottom: 20px;
}*/

.img_padrao{
	margin-bottom: 20px;
	width: 300px;
}

.img_logo{
	margin-bottom: 10px;
	width: 50px;
}
